<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/home.css">
</head>
<body>
  <div class = "parallax">

<nav class="page__menu page__custom-settings menu">
  <ul class="menu__list r-list">
    <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Home</a></li>
    <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Search</a></li>
    <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">My profile</a></li>
    <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Admin</a></li>
    <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Logout</a></li>
  </ul>
</nav>

<div class="scrollmenu">
  <h1><b>BECAUSE YOU WATCHED TOY STORY</b></h1>
  <div class="container">
     <% for(var i=0; i<list1.length; i++){ %> 

      <div class="movie-card">
          <div class="face face1">
              <div class="content">
                  <!-- <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true"> -->
                  <h3><%= list1[i].title %></h3>
                  <h4><%= list1[i].releaseDate %></h4>
                  <h4><%= list1[i].language %></h4>                  
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                       <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p> -->
                          <a href="#">More Info</a>
                          <a href="#">Watch Now</a>
                          <a href="#">Give Rating</a>
              </div>
          </div>
      </div>
      <% } %>
  </div>
</div>

<div class="scrollmenu">
  <h1><b>BECAUSE YOU WATCHED TOY STORY</b></h1>
  <div class="container">
     <% for(var i=0; i<list2.length; i++){ %> 

      <div class="movie-card">
          <div class="face face1">
              <div class="content">
                  <!-- <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true"> -->
                  <h3><%= list2[i].title %></h3>
                  <h4><%= list2[i].releaseDate %></h4>
                  <h4><%= list2[i].language %></h4>                  
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                       <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p> -->
                          <a href="#">More Info</a>
                          <a href="#">Watch Now</a>
                          <a href="#">Give Rating</a>
              </div>
          </div>
      </div>
      <% } %>
  </div>
</div>

<div class="scrollmenu">
  <h1><b>BECAUSE YOU WATCHED TOY STORY</b></h1>
  <div class="container">
     <% for(var i=0; i<list1.length; i++){ %> 

      <div class="movie-card">
          <div class="face face1">
              <div class="content">
                  <!-- <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true"> -->
                  <h3><%= list3[i].title %></h3>
                  <h4><%= list3[i].releaseDate %></h4>
                  <h4><%= list3[i].language %></h4>                  
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                       <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p> -->
                          <a href="#">More Info</a>
                          <a href="#">Watch Now</a>
                          <a href="#">Give Rating</a>
              </div>
          </div>
      </div>
      <% } %>
  </div>
</div>


<div class="scrollmenu">
  <h1><b>BECAUSE YOU WATCHED TOY STORY</b></h1>
  <div class="container">
     <% for(var i=0; i<list4.length; i++){ %> 

      <div class="movie-card">
          <div class="face face1">
              <div class="content">
                  <!-- <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true"> -->
                  <h3><%= list4[i].title %></h3>
                  <h4><%= list4[i].releaseDate %></h4>
                  <h4><%= list4[i].language %></h4>                  
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                       <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p> -->
                          <a href="#">More Info</a>
                          <a href="#">Watch Now</a>
                          <a href="#">Give Rating</a>
              </div>
          </div>
      </div>
      <% } %>
  </div>
</div>
</body>
</html>