<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
	<div class = "parallax">

	
	<nav class="page__menu page__custom-settings menu">
	<ul class="menu__list r-list">
		<form class="nav-bar" action="http://localhost:3000/admin/home" method="GET"><li class="menu__group"><button class="menu__link r-link text-underlined">Home</button></li></form>
		<form class="nav-bar" action="http://localhost:3000/admin/search" method="GET"><li class="menu__group"><button class="menu__link r-link text-underlined">Search</button></li></form>
		<form class="nav-bar" action="http://localhost:3000/admin/profile" method="GET"><li class="menu__group"><button class="menu__link r-link text-underlined">My profile</button></li></form>
		<form class="nav-bar" action="http://localhost:3000/admin/admin" method="get"><li class="menu__group"><button class="menu__link r-link text-underlined">Admin</button></li></form>
		<form class="nav-bar" action="http://localhost:3000/admin/logout" method="get"><li class="menu__group"><button class="menu__link r-link text-underlined">Logout</button></li></form>
	</ul>
	</nav>

	<form class="nav-bar" action="http://localhost:3000/admin/search" method="POST">
		<div class="search-container" href=#home>
			<div class="group">
				<label for="search" class="label"></label>
				<input id="search" name="search" placeholder="search..." type="text" class="input" >
			</div>
		  	<i class="fa fa-search"></i>
		</div>
	</form>


	
<% if (list1.length != 0) { %>
	<div class="scrollmenu">
	  <h1><b>Result by Movie title</b></h1>
	  <div class="container">
		 <% for(var i=0; i<list1.length; i++){ %> 
	
		  <div class="movie-card">
			  
			  <div class="face face1">
				  <div class="content">
					  <h3><%= list1[i].title %></h3>
					  <h4><%= list1[i].releasedate %></h4>
					  <h4><%= list1[i].language %></h4>
				  </div>
			  </div>
			  <div class="face face2">
				  <div class="content">
					<form action="/admin/home" method="post">
						<button class="btn" type="submit">More info</button>
						<input type="hidden" name="movie_id" id="movie_id" value=<%=list1[i].movieid%>>
						<input type="hidden" name="indic" id="indic" value="n">
					</form>
					<form action="/admin/home" method="post">
						<button class="btn" type="submit">Watch now</button>
						<input type="hidden" name="indic" id="indic" value="y">
						<input type="hidden" name="movie_id" id="movie_id" value=<%=list1[i].movieid%>>
					</form>
				  </div>
			  </div>
		  </div>
		  <% } %>
	  </div>
	</div>
	<% } %>
	
	<% if (list2.length != 0) { %>
	<div class="scrollmenu">
	  <h1><b>Result by Actor</b></h1>
	  <div class="container">
		 <% for(var i=0; i<list2.length; i++){ %> 
	
		  <div class="movie-card">
			  
			  <div class="face face1">
				  <div class="content">
					  <h3><%= list2[i].title %></h3>
					  <h4><%= list2[i].releasedate %></h4>
					  <h4><%= list2[i].language %></h4>
				  </div>
			  </div>
			  <div class="face face2">
				  <div class="content">
					<form action="/admin/home" method="post">
						<button class="btn" type="submit">More info</button>
						<input type="hidden" name="movie_id" id="movie_id" value=<%=list2[i].movieid%>>
						<input type="hidden" name="indic" id="indic" value="n">
					</form>
					<form action="/admin/home" method="post">
						<button class="btn" type="submit">Watch now</button>
						<input type="hidden" name="indic" id="indic" value="y">
						<input type="hidden" name="movie_id" id="movie_id" value=<%=list2[i].movieid%>>
					</form>
				  </div>
			  </div>
		  </div>
		  <% } %>
	  </div>
	</div>
	<% } %>
	